<div class="box box--padding-large box--brd-mgreyblue">
    <h2>Connecting to DeepGreen</h2>
    <hr>
    {% include 'account/user/publisher/_connection_details_api.html' %}
    <hr>
    {% include 'account/user/publisher/_connection_details_sword.html' %}
    <hr>
    {% include 'account/user/publisher/_connection_details_sftp.html' %}
    {% include 'account/user/publisher/_sftp_server_settings_form.html' %}
    {#% include 'account/user/publisher/_delete_sftp_server_details.html' %#}
    <hr>
    {% include 'account/user/publisher/_list_ssh_keys.html' %}
    {% include 'account/user/publisher/_add_ssh_key.html' %}
</div>