{% if current_user.is_super %}
    <div class="box box--padding-large box--brd-mgreyblue">
        <h3>Mange FTP server settings</h3>
        <div class="dl-table">
            <div>Current settings to connect to FTP server</div>
            <dl>
                {% if account.ftp_server_url %}
                    <dt>SFTP Address</dt>
                    <dd>{{ account.ftp_server_url }}</dd>
                    <dt>Port</dt>
                    <dd>{{ account.ftp_server_port }}</dd>
                {% else %}
                    <dt>SFTP Address</dt>
                    <dd>{{ default_ftp_server['url'] }}</dd>
                    <dt>Port</dt>
                    <dd>{{ default_ftp_server['port'] }}</dd>
                {% endif %}
                <dt>Username</dt>
                {% if account.custom_id %}
                    <dd>{{account.custom_id}}</dd>
                {% else %}
                    <dd>{{account.id}}</dd>
                {% endif %}
            </dl>
        </div>
        <br>
        <div>
            <form method="post" action="{{request.path}}/ftp_server" class="form">
                <ul class="form-fields">
                    <li class="form-fields__item--text">
                        <span class="form-fields__label-text">FTP server URL</span>
                        {% if account.ftp_server_url %}
                            <input type="text" class="input--large" name="ftp_server_url"
                                value="{{account.ftp_server_url}}" />
                        {% else %}
                            <input type="text" class="input--large" name="ftp_server_url"
                                value="" />
                        {% endif %}
                    </li>
                    <li class="form-fields__item--text">
                        <span class="form-fields__label-text">FTP server port</span>
                        {% if account.ftp_server_port %}
                            <input type="text" class="input--large" name="ftp_server_port"
                                value="{{account.ftp_server_port}}" />
                        {% else %}
                            <input type="text" class="input--large" name="ftp_server_port"
                                value="" />
                        {% endif %}
                    </li>
                </ul>
                <button class="btn btn--3d btnright" id="update" type="submit">Update
                        settings</button>
            </form>
        </div>
        {% if account.ftp_server_url %}
        <hr>
        <div>
            <form method="post" action="{{request.path}}/ftp_server" class="form">
                <input type="hidden" class="input--large" name="ftp_server_url"
                        value="{{account.ftp_server_url}}" />
                <div class="form-fields__item--text form-fields__item--single">
                    <input type="submit" name="submit" class="btn btn--3d" id="delete" value="Delete FTP server connection details">
                </div>
            </form>
        </div>
        <br>
        <div class="dl-table">
            Note: if the FTP connection details are deleted,
            you need to revert back to the default FTP server connection
            <dl>
                <dt>SFTP Address</dt>
                <dd>{{ default_ftp_server['url'] }}</dd>
                <dt>Port</dt>
                <dd>{{ default_ftp_server['port'] }}</dd>
            </dl>
        </div>
        {% endif %}
    </div>
{% endif %}