{% extends "base.html" %}
{% block content %}
  {% include 'account/notifications/rejected/_heading.html' %}
  {% include 'account/notifications/shared/_form.html' %}
  {% include 'account/notifications/shared/_results_heading.html' %}
  {% include 'account/notifications/shared/_pagination.html' %}
  {% include 'account/notifications/rejected/_notifications.html' %}
  {% include 'account/notifications/shared/_pagination.html' %}
  {% include 'account/notifications/rejected/_script.html' %}
{% endblock %}