{% extends "base.html" %}
{% block content %}
  {% include 'account/notifications/routed/_heading.html' %}
  {% include 'account/notifications/shared/_form.html' %}
  {% include 'account/notifications/shared/_results_heading.html' %}
  {% include 'account/notifications/shared/_pagination.html' %}
  {% include 'account/notifications/routed/_select_notifications.html' %}
  {% include 'account/notifications/routed/_notifications.html' %}
  {% include 'account/notifications/shared/_pagination.html' %}
  {% include 'account/notifications/routed/_script.html' %}
{% endblock %}