{% include 'account/user/publisher/_routing_status_accordion.html' %}
{% include 'account/user/publisher/_matched_notifications_accordion.html' %}
{% include 'account/user/publisher/_rejected_notifications_accordion.html' %}
{% include 'account/user/publisher/_default_license_accordion.html' %}
{#% include 'account/user/publisher/_default_embargo_accordion.html' %#}
{% include 'account/user/publisher/_sftp_accordion.html' %}
{% include 'account/user/publisher/_profile_details_accordion.thml' %}
{% include 'account/user/publisher/_connection_details_accordion.html' %}
