<!-- Routing history accordion -->
<div class="accordion-row">Routing History
  <button class="accordion-button">
      <a href="/account/details/{{account.id}}?since=01/06/2019&api_key={{current_user.data['api_key']}}">View</a>
      <i class="fa fa-external-link" aria-hidden="true"></i>
  </button>
</div>
<!-- Profile settings accordion -->
<div class="accordion-row">Profile settings
  <button class="accordion-section" data-panel="section-view-profile">View</button>
  <button class="accordion-section" data-panel="section-update-profile">Update</button>
  <button class="accordion-section" data-panel="section-update-email">Update email</button>
  <button class="accordion-section" data-panel="section-update-password">Update password</button>
  <div class="panel section-view-profile">
   {% include 'account/user/repository/_profile_settings.html' %}
  </div>
  <div class="panel section-update-profile">
   {% include 'account/user/repository/_profile_settings_form.html' %}
  </div>
  <div class="panel section-update-email">
   {% include 'account/user/_update_email.html' %}
  </div>
  <div class="panel section-update-password">
   {% include 'account/user/_update_password.html' %}
  </div>
</div>
<!-- Repo config accordion -->
<div class="accordion-row">Repository configuration for matching
  <button class="accordion-button">
    <a target="_blank" href="/account/configview{% if current_user.has_role('admin') %}/{{account.id}}?api_key={{current_user.data['api_key']}}{% else %}?api_key={{account.data['api_key']}}{% endif %}">View</a>
    <i class="fa fa-external-link" aria-hidden="true"></i>
  </button>
  <form class="inline" method="GET" action="{{request.path}}/config">
    <button class="accordion-button" id="download_match" type="submit">Download</button>
  </form>
  <button class="accordion-section" data-panel="section-update-config">Update</button>
  <div class="panel section-update-config">
   {% include 'account/user/repository/_matching_details_form.html' %}
  </div>
</div>
<!-- Licenses accordion -->
<div class="accordion-row">Licenses associated with your institution
  <button class="accordion-section" data-panel="section-license">View and select</button>
  <div class="panel section-license">
    {% include 'account/user/repository/_select_licenses.html' %}
  </div>
</div>
<!-- Sword settings accordion -->
<div class="accordion-row">Sword settings
  <button class="accordion-section" data-panel="section-view-sword">View</button>
  <button class="accordion-section" data-panel="section-update-sword">Update</button>
  <div class="panel section-view-sword">
   {% include 'account/user/repository/_sword_settings.html' %}
  </div>
  <div class="panel section-update-sword">
    {% include 'account/user/repository/_sword_settings_form.html' %}
  </div>
</div>
<!-- Sword status accordion -->
<div class="accordion-row">Sword status
  {% if sword_status.status == 'problem' %}
    {% set cls = "warning" %}
  {% elif sword_status.status == 'failing' %}
    {% set cls = "danger" %}
  {% else %}
    {% set cls = "success" %}
  {% endif %}
  <butoon class="{{cls}} accordion-section" data-panel="section-sword-status">{{ sword_status.status }}</butoon>
  <button class="accordion-button">
    <a target="_blank"  href="/account/sword_logs/{{account.id}}">View logs</a>
  </button>
  {% include 'account/user/repository/_modify_sword_status_form.html' %}
  <div class="panel section-sword-status">
    {% include 'account/user/repository/_sword_status.html' %}
  </div>
</div>

