<h4>Update password</h4>
<form method="POST" action="" class="form">
    <ul class="form-fields">
        <li class="form-fields__item--text">
            <p>The password must contain at least eight characters, have lower and upper cases and at least one number</p>
            <span class="form-fields__label-text"> New password </span>
            <input type="password" name="password">
        </li>
        <li class="form-fields__item--text">
            <span class="form-fields__label-text"> Confirm </span>
            <input type="password" name="password_verify">
            <button id="reset_password" type="submit"
                class="btn btn--3d">Update</button>
        </li>
    </ul>
</form>
