<h4>Update email address</h4>
<form method="POST" action="" class="form">
    <ul class="form-fields">
        <li class="form-fields__item--text">
            <span class="form-fields__label-text"> New
                    Email address </span> <input type="text" name="email">

        </li>
        <li class="form-fields__item--text">
            <label> <span class="form-fields__label-text"> Confirm </span>
                    <input type="text" name="email_verify">
            </label>
            <button id="reset_email" type="submit"
                class="btn btn--3d">Update</button>
        </li>
    </ul>
</form>
