{% extends "base.html" %} {% block content %}

<div class="row cms">
	<div class="col span-12">
		<aside class="article-full__callout">
			<h3>Details</h3>
			<p></p>
			<div>
				<strong>Last updated:</strong>
			</div>
			<div id="updated"> {{ config_data.get('last_updated') }} </div>
			<p></p>
			<div>
				<strong>Repository:</strong>
			</div>
			<div id="repository">{{ config_data.get('repo') }}</div>
			<p></p>
			<div>
				<strong>Created date:</strong>
			</div>
			<div id="created">{{ config_data.get('created_date') }}</div>
			<p></p>
			<div>
				<strong>Config-Id:</strong>
			</div>
			<div id="id">{{ config_data.get('id') }}</div>
		</aside>
	</div>
</div>

{% macro create_configview_table(data, _id='', _title='') %}
	{% if data %}

	<section class="is-collapsible show_hide__container is-collapsible--button"
			 data-collapsible>
		<h2 class="show_hide__trigger">{{ _title | safe }}</h2>
		<div class="show_hide__target">
			<div class="cms">
				<table id="{{ _id | safe}}">
					<tr>
						<th>{{_title | safe}}</th>
					</tr>
					{% for val in data %}
					<tr>
						<td> {{ val }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</section>

    {% endif %}
{% endmacro %}

<div class="row">
	<div class="span col-12" id="container">
		{{ create_configview_table(config_data.get('strings'), 'strings', 'Strings') }}
		{{ create_configview_table(config_data.get('name_variants'), 'name_variants', 'Name Variants') }}
		{{ create_configview_table(config_data.get('domains'), 'domains', 'Domains') }}
		{{ create_configview_table(config_data.get('grants'), 'grants', 'Grants') }}
		{{ create_configview_table(config_data.get('keywords'), 'keywords', 'Keywords') }}
		{{ create_configview_table([config_data.get('institutional_identifier','')],
									'institutional_identifier',
									'Institutional identifier') }}

	</div>
</div>

{% endblock %}
