{% extends "base.html" %}
{% import 'table_utils.html' as table_utils %}
{% block content %}

<div class="row">
	<div class="col span-12">
	<div class="cms">
		<h1>Matching History</h1>
	</div>
	
	<div class="row">
		<form class="form" action="" method="GET">
			<div class="col span-6">

				<ul class="form-fields">
					<li class="form-fields__item--text"><label> <span
							class="form-fields__label-text">Show history until:</span> <input type="text"
							name="since" value="{{date}}">
					</label>
					<button class="btn btn--3d btn--primary move-up" type="submit">Send</button>
					</li>
				</ul>


			</div>
			<div class="col span-5">
			</div>
		</form>
	
	</div>	
		<div class="col span-12">{% from
			"harvester/helpers/pagination.html" import render_pagination%} {{
			render_pagination(num_of_pages,page_num,link) }}</div>

			{{ table_utils.create_table_by_arr(table_headers, table_data,
											   "publisherTable","tablesorter-green") }}

			{% from "harvester/helpers/pagination.html" import render_pagination%}
			{{ render_pagination(num_of_pages,page_num,link) }}
		<div class="row">
			<div class="col span-1"></div>
			<div class="col span-1"></div>
			<div class="col span-1"></div>
		</div>

		<div id='elem'></div>
	</div>	
	</div>

<script>
    $("#publisherTable").tablesorter();
</script>


{% endblock %}
