{% extends "base.html" %} 
{% block content %}
    {% if not current_user.is_anonymous %}
        <h1 class="visuallyhidden">My account</h1>
        {% include 'account/user/_account_details.html' %}
        <div class="row">
            <div class="col span-8 cms">
                <h2><b>Configure Settings</b></h2>
                {% if account.has_role('publisher') %}
                    {% include 'account/user/publisher/_routing_status.html' %}
                    {#% include 'account/user/publisher/_update_embargo.html' %#}
                    {% include 'account/user/publisher/_matching_history.html' %}
                    {% include 'account/user/publisher/_default_license_form.html' %}
                    {% include 'account/user/publisher/_connection_details.html' %}
                {% endif %}
                {% if account.has_role('repository') %}
                    {% include 'account/user/repository/_matching_details_form.html' %}
                    {% include 'account/user/repository/_matching_details_link.html' %}
                    {% include 'account/user/repository/_routing_history_link.html' %}
                    {% include 'account/user/repository/_select_licenses.html' %}
                    {% include 'account/user/repository/_profile_settings_form.html' %}
                    {% include 'account/user/repository/_sword_settings_form.html' %}
                    {% include 'account/user/repository/_sword_status.html' %}
                {% endif %}
                {% include 'account/user/_update_login.html' %}
            </div>
            {% if current_user.is_super %}
                <div class="col span-3 push-1 cms">
                    {# This column is displayed on the rights #}
                    {% include 'account/user/_manage_account.html' %}
                    {% include 'account/user/repository/_manage_role.html' %}
                </div>
            {% endif %}
        </div>
        <!-- 2016-08-18 TD : *** Do not want to display this *** -->
        {#% include 'account/user/repository/_search.html' %#}
    {% endif %}
{% endblock %} 
{% block extra_js_bottom %}
    <script>    	
        var deleteaccount = function(event) {
            var conf = confirm("This action will remove the user forever. Are you sure you want to do this?");
            if (!conf) event.preventDefault();
        }
        $('#delete').bind('click',deleteaccount);

    	function submit_form_active() {
			document.getElementById("active_no").checked = true;
			document.getElementById("active_yes").checked = false;
	     	document.getElementById("form_active").submit();
    	}
		function submit_form_passive() {
			document.getElementById("passive_no").checked = true;
			document.getElementById("passive_yes").checked = false;
	     	document.getElementById("form_passive").submit();
		}
        {#% include 'account/user/repository/_search_js.html' %#}

        function show_form(form_id) {
          var x = document.getElementById(form_id);
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

    </script>
{% endblock extra_js_bottom %}
