{% extends "base.html" %}
{% block content %}


<h1>License File Management</h1>


<form id="upload-license-form" method="POST" action="/manage_license/upload_license"
      enctype="multipart/form-data">
    <h2>Upload License</h2>
    <div class="lic_upload">
        <div>
            <label for="license_name">License Name:</label>
            <input type="text" name="license_name" id="license_name"/><br/><br/>
        </div>
        <div>
            <label for="lic_type">License type:</label>
            <select name="lic_type" id="lic_type">
                {% for lic_type in allowed_lic_types %}
                    <option value="{{ lic_type }}">{{ lic_type }}</option>
                {% endfor %}
            </select><br/><br/>
        </div>
        <div>
            <label for="ezb_id">EZB id:</label>
            <input type="text" name="ezb_id" id="ezb_id"/><br/><br/>
        </div>
        <div>
            <label for="admin_notes">Admin Notes: </label>
            <textarea name="admin_notes" id="admin_notes"></textarea><br/><br/>
        </div>
        <div>
            <label for="file">Upload license file: </label>
            <input type="file" name="file" id="upload-btn" class="input--large"/><br/><br/>
        </div>
        <div>
            <input type="submit" value="Submit"/><br/><br/>
        </div>
    </div>
</form>

<h2>License and Participant Files</h2>
<table id="license_management_table" class="file_tbl tablesorter-green">
    <thead>
    <tr>
        <th>EZB Id</th>
        <th>Type</th>
        <th style="width:20%">Details</th>
        <th>License file details</th>
        <th>Participant file details</th>
    </tr>
    </thead>
    {% for rec in managed_licenses %}
        {%  set rowspan = 1 %}
        {% if rec.get('license_version', 0) > 1 or rec.get('particpant_version', 0) > 1 %}
            {% set rowspan = [rec.get('license_version', 0), rec.get('particpant_version', 0)]|max %}
        {% endif %}
        {% set lic = {} %}
        {% set par = {} %}
        {% set lic_status = {'lic_status': ''} %}
        {% set par_status = {'par_status': ''} %}
        {% set licences = rec.get('license', []) %}
        {% set participants = rec.get('participant', []) %}
        {% set lic_display_order = rec['active_license']|display_order(licences|length) %}
        Display order: {{ lic_display_order }}
        {% for index in (range(1, rowspan + 1)) %}
            {% if licences|length >= index %}
                {% set _ = lic.update(licences[lic_display_order[index-1] - 1]) %}
            {% endif %}
            {% for v in rec.get('license_versions', []) %}
                {% if v['version'] == lic.get('version', '') %}
                  {% set _ = lic_status.update({'lic_status': v['status']}) %}
                {% endif %}
            {%  endfor %}
            {% if participants|length >= index  %}
                {% set _ = par.update(participants[index-1]) %}
            {% endif %}
            {% for v in par.get('participant_versions', []) %}
                {% if v['version'] == par.get('version', '') %}
                  {% set _ = par_status.update({'par_status': v['status']}) %}
                {% endif %}
            {%  endfor %}
            {% if index == 1 and rowspan > 1 %}
                {% set cls = "tablesorter-hasChildRow" %}
            {% elif index > 1 %}
                {% set cls = "tablesorter-childRow" %}
            {% else %}
                {% set cls = "" %}
            {% endif %}
            {% if lic_status['lic_status'] in ['active', 'validation passed'] or
                  par_status['par_status'] in ['active', 'validation passed'] %}
                {% set collapse_cls = '' %}
            {%  elif index > 1 %}
                {% set collapse_cls = 'collapse' %}
            {%  endif %}
            <tr class="{{ cls }} {{ collapse_cls }}">
                {% if index == 1 %}
                    <!-- <td rowspan={{ rowspan }}> -->
                    <td>
                        {{ rec.get('ezb_id', '') }}
                    </td>
                    <!-- <td rowspan={{ rowspan }}> -->
                    <td>
                        {{ rec.get('type', '') }}
                    </td>
                    <!-- <td rowspan={{ rowspan }}> -->
                    <td>
                        <dt>Name</dt>
                        <dd>{{ rec.get('name', '') }}</dd>
                        <dt>Admin notes</dt>
                        <dd>
                            {% if rec.get('admin_notes', '')|length > 100 %}
                                <span title="{{ rec.get('admin_notes', '') }}">{{ rec.get('admin_notes', '')[:100] }} ...</span>
                            {% else %}
                                <span title="{{ rec.get('admin_notes', '') }}">{{ rec.get('admin_notes', '') }}</span>
                            {% endif %}
                        </dd>
                        <dd>
                            {% if rowspan > 1 %}
                                <a href="#" class="toggle">Show / hide versions</a> <br/>
                            {% endif %}
                        </dd>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
                <td>
                    {% if lic %}
                        <dl>
                            <dt>Version</dt>
                            <dd>{{ lic.get('version', '') }}</dd>
                            <dt>Date uploaded</dt>
                            <dd>{{ lic.get('uploaded_date', '') }}</dd>
                            <dt>View license</dt>
                            <dd>
                                <a href="{{ url_for('manage_license.view_license') }}?management_id={{ rec.id }}&record_id={{ lic.get('record_id', '') }}">
                                    {{ lic.get('record_id', '') }}</a>
                            </dd>
                            <dt>Download license file</dt>
                            <dd><a href="{{ url_for('manage_license.download_license_file', management_id=rec.id, record_id=lic.get('record_id', '')) }}">
                                {{ lic.get('file_name', 'license file') }}
                            </a></dd>
                            <dt>Status</dt>
                            <dd> {{ lic_status['lic_status'] }} </dd>
                        </dl>
                        <div class="actions">
                            <h3>Actions</h3>

                            {% if lic_status['lic_status'] in ['active', 'validation failed'] %}
                                <div>
                                    <form method="POST" action="{{ url_for('manage_license.update_license') }}"
                                          enctype="multipart/form-data">
                                        <input type="hidden" name="management_id" value="{{ rec['id'] }}">
                                        <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                                        <button class="btn-primary long_act_btn trigger_file_btn">
                                            Update license
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            {% if lic_status['lic_status'] == 'validation passed' %}
                                <div>
                                    <form method="POST" action="{{ url_for('manage_license.activate_license') }}">
                                        <input type="hidden" name="record_id" value="{{ lic.get('record_id') }}">
                                        <input type="hidden" name="version" value="{{ lic.get('version') }}">
                                        <input class="act_btn" type="submit" value="Activate license"/>
                                    </form>
                                </div>
                            {% endif %}
                            {% if lic_status['lic_status'] not in ['archived', 'deleted'] %}
                                <div>
                                    <form method="POST" action="{{ url_for('manage_license.archive_license') }}">
                                        <input type="hidden" name="record_id" value="{{ lic.get('record_id') }}">
                                        <input type="hidden" name="version" value="{{ lic.get('version') }}">
                                        <button type="submit" class="btn-warning long_act_btn act_btn">
                                            Archive license
                                        </button>
                                    </form>
                                </div>
                            {%  endif %}
                            {% if lic_status['lic_status'] in allowed_del_status %}
                                <div>
                                    <form method="POST" action="{{ url_for('manage_license.delete_license') }}">
                                        <input type="hidden" name="record_id" value="{{ lic.get('record_id') }}">
                                        <input type="hidden" name="version" value="{{ lic.get('version') }}">
                                        <input class="act_btn" type="submit" value="Delete license"/>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <dl>
                            <dt>Validation status</dt>
                            <dd>{{ lic.get('validation_status', '') }}</dd>
                            <dt>Validation notes</dt>
                            <dd>
                                {% if lic.get('validation_notes', '')|length > 100 %}
                                    <span title="{{ lic.get('validation_notes', '') }}">{{ lic.get('validation_notes', '')[:100] }} ...</span>
                                {% else %}
                                    <span title="{{ lic.get('validation_notes', '') }}">{{ lic.get('validation_notes', '') }}</span>
                                {% endif %}
                            </dd>
                        </dl>
                    {% endif %}
                </td>
                <td>
                    {% if par %}
                        <dl>
                            <dt>Version</dt>
                            <dd>{{ par.get('version', '') }}</dd>
                            <dt>date uploaded</dt>
                            <dd>{{ par.get('upload_date', '') }}</dd>
                            <dt>View participant</dt>
                            <dd>
                                <a href="{{ url_for('manage_license.view_participant') }}?record_id={{ lic.get('record_id', '') }}">
                                    {{ par.get('record_id', '') }}</a>
                            </dd>
                                <dt>Download participant file</dt>
                                <dd><a href="{{ url_for('manage_license.download_participant_file', record_id=lic.get('record_id', '')) }}">
                                    {{ par.get('file_name', 'participant file') }}
                                </a></dd>
                            <dt>Status</dt>
                            <dd> {{ par_status['par_status'] }} </dd>
                        </dl>
                    {% endif %}
                    <div class="actions">
                        <h3>Actions</h3>
                        {% if rec.get('participant', [])|length == 0 %}
                            <div>
                                <form method="POST"
                                      action="{{ url_for('manage_license.upload_participant') }}"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="lic_lrf_id" value="{{ rec.id }}">
                                    <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                                    <button class="btn-success trigger_file_btn"> Add participant</button>
                                </form>
                            </div>
                        {% endif %}
                        {% if par_status['par_status'] in ['active', 'validation failed'] %}
                            <div>
                                <form method="POST"
                                      action="{{ url_for('manage_license.update_participant') }}"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="lic_lrf_id" value="{{ rec['id'] }}">
                                    <input type="file" name="file" class="hide_file_upload submit_on_change"/>
                                    <button class="btn-primary long_act_btn trigger_file_btn">
                                        Update participant
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        {% if par_status['par_status'] == 'validation_passed' %}
                            <div>
                                <form method="POST" action="{{ url_for('manage_license.activate_participant') }}">
                                    <input type="hidden" name="record_id" value="{{ par.get('record_id') }}">
                                    <input type="hidden" name="version" value="{{ par.get('version') }}">
                                    <input class="act_btn" type="submit" value="Activate participant"/>
                                </form>
                            </div>
                        {% endif %}
                        {% if par_status['par_status'] and par_status['par_status'] not in ['archived', 'deleted'] %}
                            <div>
                                <form method="POST" action="{{ url_for('manage_license.archive_participant') }}">
                                    <input type="hidden" name="record_id" value="{{ par.get('record_id') }}">
                                    <input type="hidden" name="version" value="{{ par.get('version') }}">
                                    <button type="submit" class="btn-warning long_act_btn act_btn">
                                        Archive participant
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        {% if par_status['par_status'] in allowed_del_status %}
                            <div>
                                <form method="POST" action="{{ url_for('manage_license.delete_participant') }}">
                                    <input type="hidden" name="record_id" value="{{ par.get('record_id') }}">
                                    <input type="hidden" name="version" value="{{ par.get('version') }}">
                                    <input class="act_btn" type="submit" value="Delete license"/>
                                </form>
                            </div>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<script>
    $('.trigger_file_btn').click((e) => {
        e.preventDefault()
        const jq_form = $(e.target.parentElement)
        const jq_file = jq_form.find('input[type=file]')
        jq_file.trigger('click')
    })

    $('.submit_on_change').change((e) => {
        const jq_file = $(e.target)
        if (jq_file[0].files.length) {
            jq_file.parent('form').submit()
        }

        // disable submit button
        const jq_submit_btn = jq_file.parent().find('.trigger_file_btn')
        jq_submit_btn.attr("disabled", true);
    })

    $('.act_btn').click((e) => {
        const jq_btn = $(e.target)
        jq_btn.attr("disabled", true);
        jq_btn.parent('form').submit()
    })

    $('.toggle_detail_btn').click((e) => {
        e.preventDefault()
        const jq_btn = $(e.target)
        const jq_detail = $('#' + jq_btn.attr('toggle_detail'))
        jq_detail.toggle()
    })

    $("#license_management_table").tablesorter();
    $("#license_management_table").tablesorter({
            widgets: ["zebra"],
            widgetOptions : {
                zebra : [ "normal-row", "alt-row" ]
            }
        });
    $('.tablesorter-childRow td').hide();
    $('.tablesorter').delegate('.toggle', 'click' ,function() {

            // use "nextUntil" to toggle multiple child rows
            // toggle table cells instead of the row
            // $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
            // in v2.5.12, the parent row now has the class tablesorter-hasChildRow
            // so you can use this code as well
            $(this).closest('tr').nextUntil('tr.tablesorter-hasChildRow').find('td').toggle();

            return false;
    });
</script>


{% endblock %}
