{% if index == 0 %}
    <td> {{ rec.get('ezb_id', '') }} </td>
    <td> {{ rec.get('type', '') }} </td>
    <td>
        {% if rec.get('name', '') %}
            <dt>Name</dt>
            <dd>{{ rec.get('name', '') }}</dd>
        {% endif %}
        <dt>Id</dt>
        <dd>
            <a href="{{ url_for('manage_license.view_raw') }}?record_id={{ rec.id }}">
            {{ rec.id }}</a>
        </dd>
        {% if rec.get('admin_notes', '') %}
            <dt>Admin notes</dt>
            <dd>
                 <span title="{{ rec['admin_notes'] }}">{{ rec['admin_notes'] }}</span>
            </dd>
        {% endif %}
        {% if rec.get('number_of_active_licences', 0) > 1 %}
            <dt>Total number of active license versions</dt>
            <dd>
                 <span title="{{ rec['number_of_active_licences'] }}">{{ rec['number_of_active_licences'] }}</span>
            </dd>
        {% endif %}
        {% if rec.get('active_license', 0) > 0 %}
            <dt>Current active license version</dt>
            <dd>
                 <span title="{{ rec.get('active_license', 0) }}">{{ rec.get('active_license', 0) }}</span>
            </dd>
        {% else %}
            <dd>No active license</dd>
        {% endif %}
        {% if rec.get('number_of_active_participants', 0) > 1 %}
            <dt>Total number of active Participant versions</dt>
            <dd>
                 <span title="{{ rec['number_of_active_participant'] }}">{{ rec['number_of_active_participant'] }}</span>
            </dd>
        {% endif %}
        {% if rec.get('active_participant', 0) > 0 %}
            <dt>Current active participant version</dt>
            <dd>
                 <span title="{{ rec.get('active_participant', 0) }}">{{ rec.get('active_participant', 0) }}</span>
            </dd>
        {% else %}
            <dd>No active participant</dd>
        {% endif %}
        {% if rec['rowspan'] > 1 %}
            <dd>
                <a href="#" class="toggle">Show / hide versions</a> <br/>
            </dd>
        {% endif %}
        <div><a href="#updateManagementRecordModal" class="btn" rel="modal:open">Update details</a></div>
        {% include 'manage_license/actions/modal_update_management_record_details.html' %}
    </td>
{% else %}
    <td></td>
    <td></td>
    <td></td>
{% endif %}
